.menuAndContent{
    display: flex;
    flex-direction: row;
}

#menu{
    display: flex;
    flex-direction: row;
    padding: 30px;
    width: 400px;
}

#container{
    display: flex;
    flex-direction: row;

}




